body {
  font-family: "Lobster Two", cursive;
  font-family: "Playfair Display SC", serif;
  background-color: #2d2d2d;
  color: #cbb32d;
  min-height: 100vh;
}

.star {
  font-family: "Indie Flower", cursive;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
}

.curly1 {
  font-family: "Indie Flower", cursive;
  position: absolute;
  left: -.75em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.curly2 {
  font-family: "Indie Flower", cursive;
  position: absolute;
  right: -.75em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.cursive {
  font-family: "Lobster Two", cursive;
  color: #cbcccc;
}

section {
  border-style: solid;
  border-color: #ffce00;
  border-width: 2px;
  background-color: #000;
}

p {
  display: block;
  text-align: center;
}

.nbsp {
  display: none;
}

@media only screen and (min-width: 19em) {

  .space {
    display: none;
  }

  .nbsp {
    display: block;
  }

}

@media only screen and (min-width: 37em) {

  .star {
    display: none;
  }

  .curly1 {
    display: block;
  }

  .curly2 {
    display: block;
  }

}
