@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lobster Two', cursive;
  font-family: 'Playfair Display SC', serif;
  background-color: #2d2d2d;
  color: #fff;
  min-height: 100vh;
}

.star {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  top: -1em;
  left: 50%;
  transform: translateX(-50%);
}

.curly1 {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  left: -1em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.curly2 {
  font-family: 'Indie Flower', cursive;
  position: absolute;
  right: -1em;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.cursive {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  color: #ffff99;
}

section {
  border-style: solid;
  border-color: #ffce00;
  border-width: 2px;
  background-color: #000000;
}

p {
  display: block;
  text-align: center;
}
